version: '3.8'

services:
  app:
    container_name: sora-app
    build:
      context: .
      dockerfile: Dockerfile.sora
    ports:
      - "${PORT_APP}:8080"
    depends_on:
      - mysql
    env_file:
      - .env
    networks:
      - sora-network
    environment:
      TZ: Asia/Seoul

  admin:
    container_name: sora-admin
    build:
      context: .
      dockerfile: Dockerfile.admin
    ports:
      - "${PORT_ADMIN}:8080"
    depends_on:
      - mysql
    env_file:
      - .env
    networks:
      - sora-network
    environment:
      TZ: Asia/Seoul

  sora-webflux:
    container_name: sora-webflux
    build:
      context: .
      dockerfile: Dockerfile.sora-webflux
    ports:
      - "${PORT_WEBFLUX}:8080"
    depends_on:
      - mysql
    env_file:
      - .env
    networks:
      - sora-network
    environment:
      TZ: Asia/Seoul

  mysql:
    container_name: sora-mysql
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
      MYSQL_DATABASE: ${SPRING_DATASOURCE_DATABASE}
      TZ: Asia/Seoul
    ports:
      - "${PORT_MYSQL}:3306"
    volumes:
      - sora-mysql:/var/lib/mysql
      - ./my.cnf:/etc/mysql/my.cnf
    networks:
      - sora-network

networks:
  sora-network:
    external: yes

volumes:
  sora-mysql:
